body {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    width: 265px;
    height: 80px;
    line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color: #36b87c;
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px #777777;
    -moz-box-shadow: 2px 2px 10px 3px #777777;
    -webkit-box-shadow: 2px 2px 10px 3px #777777;
    text-shadow: 3px 3px 7px #403f40;
  }
  
  .button span {
    position: absolute;
    left: 0;
    top: 0px;
    padding-top: 12px;
    width: 75px;
    height: 66px;
    background-color: #242831;
  }
  
  .button span:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 34%;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid #242831;
    border-bottom: 12px solid transparent;
  }
  